<?xml version="1.0"?>
<config>
	<modules>
		<Rukhsar_FixCatalogRule>
			<version>1.0.0</version>
		</Rukhsar_FixCatalogRule>
	</modules>
	<global>
		<models>
			<fixcatalogrule>
				<rewrite>
					<observer>Rukhsar_FixCatalogRule_Model_Observer</observer>
				</rewrite>
			</fixcatalogrule>
		</models>
	</global>
</config>
